---
layout: job_page
title: "Senior Backend Developer"
---

At GitLab, developers are highly independent and self-organized individual
contributors who work together as a tight team in a [remote and agile](/2015/09/14/remote-agile-at-gitlab/) way.

Most backend developers work on all aspects of GitLab, building features, fixing bugs, and generally improving the application.
Some developers [specialize](/jobs/specialist) and focus on a specific area, such as packaging, performance or GitLab CI.
Developers can specialize immediately after joining, or after some time, when they have gained familiarity with many areas of GitLab and find one they would like to focus on.

<%= partial "includes/positions/developer/responsibilities" %>

## Requirements

* You can reason about software, algorithms, and performance from a high level
* You are passionate about open source
* You have worked on a production-level Ruby application, preferably using Rails. (This is a [strict requirement](#ruby-experience))
* You know how to write your own Ruby gem using TDD techniques
* You are a senior developer
* Strong written communication skills
* Experience with Docker, Nginx, Go, and Linux system administration a plus
* Experience with online community development a plus
* Self-motivated and have strong organizational skills
* You share our [values](/handbook/values), and work in accordance with those values.
* [A technical interview](/handbook/hiring/technical) is part of the hiring process for this position.

### Ruby experience

For this position, a significant amount of experience with Ruby is a **strict requirement**.

We would love to hire all great backend developers, regardless of the language they have most experience with,
but at this point we are looking for developers who can get up and running within the GitLab code base very quickly
and without requiring much training, which limits us to developers with a large amount of existing experience with Ruby, and preferably Rails too.

For a time, we also considered applicants with little or no Ruby and Rails experience for this position,
because we realize that programming skills are to a large extent transferable between programming languages,
but we are not currently doing that anymore for the reasons described in the
[merge request](https://gitlab.com/gitlab-com/www-gitlab-com/merge_requests/2695)
that removed the section from this listing that described that policy.

If you would still prefer to join the backend development team as a Ruby developer,
please consider contributing to the open-source [GitLab Community Edition](https://gitlab.com/gitlab-org/gitlab-ce).
We frequently hire people from the community who have shown through contributions that
they have the skills that we are looking for, even if they didn’t have much previous experience
with those technologies, and we would gladly review those contributions.

<%= partial "includes/senior_developer" %>

## Workflow

The basics of GitLab development can be found in the [developer onboarding](/handbook/developer-onboarding/#basics-of-gitlab-development) document.

The handbook details the complete [GitLab Workflow](/handbook/communication/#gitlab-workflow).

## Relevant links

- [Engineering Handbook](/handbook/engineering)
- [Engineering Workflow](/handbook/engineering/workflow)

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/team).


* Part of the application process is to provide links to some code. Some candidates want to share code privately, so if they do, we send them an email with our GitLab.com / GitHub / Bitbucket usernames and also invite them to email code to us.
* If the code looks good, we ask the candidate to answer two questions about web applications. One is fairly Rails-specific, to do with the MVC pattern, concerns, and services; the other is about the stages a web request goes through when someone gets the GitLab CE repo on GitLab.com.
* Selected candidates will be invited to schedule a 30 minute [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* Next, candidates will be invited to schedule a 45 minute [behavioral interview](/handbook/hiring/#behavioral-questions-star) with a Backend Lead
* Candidates will then be invited to schedule a [technical interview](/handbook/hiring/technical) with a Backend Lead
* Candidates will be invited to schedule a third one hour interview with our VP of Engineering
* Finally, candidates will have a 50 minute interview with our CEO
* Successful candidates will subsequently be made an offer via email


Additional details about our process can be found on our [hiring page](/handbook/hiring).
