---
layout: job_page
title: "Senior Backend Developer, CI/CD Pipelines"
---

CI Backend Developers are primarily tasked with improving the Continuous
Integration (CI) and Continuous Deployment (CD) functionality in GitLab. See
the description on the [CI/CD team](/handbook/backend#cicd) for more details. Senior CI/CD
Backend Developers report to the [CI/CD Lead](/jobs/ci-cd-lead/).

We are currently looking for senior engineers who are proficient in the
Go programming language.

<%= partial "includes/positions/developer/responsibilities" %>

## Requirements

* You can reason about software, algorithms, and performance from a high level
* You are passionate about open source
* You have worked on a production-level application using Go or Ruby/Rails,
* Strong understanding of operating systems and concurrent programming
* Strong written communication skills
* Experience with Kubernetes, Docker, Nginx, and Linux system administration a plus
* Experience with online community development a plus
* Self-motivated and have strong organizational skills
* You share our [values](/handbook/values), and work in accordance with those values.
* [A technical interview](/handbook/hiring/technical) is part of the hiring process for this position.

## Relevant links

- [Engineering Handbook](/handbook/engineering)
- [Engineering Workflow](/handbook/engineering/workflow)

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/team).

* Selected candidates will be invited to schedule a 30min [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* Next, candidates will be invited to schedule a first interview with our CI/CD Lead
* Candidates will then be invited to schedule an interview with the Head of Product
* Candidates will be invited to schedule a third interview with our VP of Engineering
* Finally, candidates will interview with our CEO
* Successful candidates will subsequently be made an offer via email

Additional details about our process can be found on our [hiring page](/handbook/hiring).



**NOTE** In the compensation calculator below, fill in "Senior" in the `Level` field for this role.
